@{
  Layout = "_Layout";
}

<h1>Welcome to The Writer's Block!</h1>

<p>@Html.ActionLink("Enter site", "Index", "Account")</p>
<p>@Html.ActionLink("See all entries", "Index", "Entries")</p>
<p>@Html.ActionLink("See all issues", "Index", "Issues")</p>
<p>@Html.ActionLink("See all journals", "Index", "Journals")</p>
