@{
  Layout = "_Layout";
}

<h1>Welcome to The Writer's Block!</h1>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
@* <p>@Html.ActionLink("See all items", "Index", "Items")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p> *@
